.Input {
    padding: .5rem 0 0;
}
.Input input {
    padding: .3rem .6rem;
    border: 1px solid lightblue;
    border-radius: .3rem;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    box-sizing: border-box;
}
input.invalid{
    border: 1px solid red;
}

.Input input:focus{
    background-color: #f6f6f6;
}
.Input > label{
    margin-bottom: .25rem;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 10px;
}
.errorMessage {
    color: red;
    margin: 5px 0;
}