.Product{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
  
}

.price-striked{
  color: #9e9e9e;
  font-size: 12px;
}
span.discount {
  font-size: 12px;
  font-family: 'OpenSansSemiBold';
  background: #fd5439;
  color: #fff;
  padding: 2px 3px;
  margin-left: .5em;
  vertical-align: super;
}
.product-view{
  width: 100%;
}
.main-content {
  display: flex;
  align-items: baseline;
  width: 100%;
  flex-wrap: wrap;
}
.price{
  display: block;
  font-family: 'OpenSansBold';
  margin: 0;
}
.company-name {
  margin-left: .5em;
  font-size: 12px;
  font-family: 'OpenSansLight';
  color: #9e9e9e;
}
.units {
  font-family: 'OpenSansSemiBold';
  font-size: 12px;
  color: green;
  margin: 0;
  margin: 0;
}

.model{
  margin-left: .5em;
}
.supp-info{
  text-align: left;
}

@media screen and (min-width: 769px) {
  .Product {
    flex-direction: row;
  }
  .controls{
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .Product {
    flex-direction: column;
  }
  .controls {
    width: 100%;
    text-align: right;
    margin:1em 0;
  }
}