.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: inherit;
}

.Auth form{
  display: flex;
  font-size: 1.7em;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1em;
  border-radius: .3rem;
  box-shadow: 1px 0 9px rgba(112,112,112, .2);
}
.Auth .divider:after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color:  rgba(167, 167, 167, 0.2);
  margin: .5em 0;
}
.message-error{
  font-size: 15px;
  color: red;
  margin-top: 0;
  margin-bottom: 2em;
  max-width: 336px;
  text-align: center;
}
@media screen and (max-width: 768px){
  .Auth form{
    font-size: 22px;
  }
  .message-error{
    max-width: 290px;
  }
}
@media screen and (max-width: 425px){
  .Auth form{
    font-size: 16px;
    max-width: 300px;
  }
  .message-error{
    max-width: 200px;
    font-size: 11px;
  }
}