@font-face{
  font-family: OpenSansRegular;
  src: url(../src/assets/fonts/OpenSans-Regular.ttf)
}
@font-face{
  font-family: OpenSansLight;
  src: url(../src/assets/fonts/OpenSans-Light.ttf)
}
@font-face{
  font-family: OpenSansSemiBold;
  src: url(../src/assets/fonts/OpenSans-SemiBold.ttf)
}
@font-face{
  font-family: OpenSansBold;
  src: url(../src/assets/fonts/OpenSans-Bold.ttf)
}
body {
  margin: 0;
  font-family: OpenSansRegular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root{
  height: 100%;
  box-sizing: border-box;
}
i.icon:after{
  content: "";
  display: inline-block;
  margin-right: 5px;
  vertical-align: baseline;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: 11px;
  background-position: center;
}
.big.icon:after{
  width: 22px;
  height: 22px;
  background-size: 18px;
}
i.icon.user:after{
  content:"";
  background-image: url(../src/assets/icons/user.svg);
}
i.icon.phone:after{
  content:"";
  background-image: url(../src/assets/icons/phone.svg);
}
i.icon.email:after{
  content:"";
  background-image: url(../src/assets/icons/envelope.svg);
}
i.user:after{
  content: "";
  background-image: url(../src/assets/icons/user.svg);
}
.inverted{
  filter: invert(1);
}
.circle i:after {
  border-radius: 50%;
  border: 2px solid #000;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}